*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    padding: 30px;
    justify-content:space-between;
    align-items: center;
}

.logo {
    font-size: xx-large;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 300;
}

.menu {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    gap: 30px;
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
}

.user {
    background-color: #e8f7ff;
    padding: 25px;
    border-radius: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 195, 255);
}

.bod {
    display: flex;
    margin-top: 50px;
    padding: 50px;
    justify-content: space-around;
}

.texts {
    width: 40%;
}

h1{
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

span {
    color:#09a8ff;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(194, 194, 194);
    margin:10px;
}

button {
    width: 200px;
    height: 60px;
    margin-top: 20px;
    background-color: rgb(0, 195, 255);
    color: white;
    border-radius: 10px;
    border: 0;
    font-size: 15px;
}

img {
    height: 50vh;
}

